.vscode/
cocos2d/cocos/2d/Debug.win32/
cocos2d/cocos/editor-support/spine/proj.win32/Debug.win32/
cocos2d/external/recast/proj.win32/Debug.win32/
cocos2d/cocos/platform/android/libcocos2dx/.settings/org.eclipse.buildship.core.prefs
cocos2d/cocos/platform/android/libcocos2dx/.project
cocos2d/cocos/platform/android/libcocos2dx/.classpath
proj.android/.gradle/
proj.win32/.vs/TrainCocos2dx/v14/.suo
proj.win32/TrainCocos2dx.VC.db
proj.win32/TrainCocos2dx.VC.VC.opendb
proj.win32/Debug.win32/
proj.android/app/.settings/org.eclipse.buildship.core.prefs
proj.android/app/.project
proj.android/app/.classpath
proj.android/.settings/org.eclipse.buildship.core.prefs
proj.android/.project
*.ipch